<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>havideo-base</display-name>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.zenja.havideo.resources</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Jersey REST Service for meta-data</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.zenja.havideo.metadata.resources</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service for meta-data</servlet-name>
		<url-pattern>/api/metadata/*</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>mongodb_connection_host</param-name>
		<param-value>localhost</param-value>
	</context-param>
	
	<context-param>
		<param-name>hadoop_base</param-name>
		<param-value>/home/wangxing/Software/hadoop-1.0.1</param-value>
	</context-param>
	
	<context-param>
		<param-name>hadoop_conf_files</param-name>
		<param-value>core-site.xml,hdfs-site.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>hdfs_raw_video_directory</param-name>
		<param-value>/video/raw</param-value>
	</context-param>
	
	<context-param>
		<param-name>hdfs_converted_video_directory</param-name>
		<param-value>/video/converted</param-value>
	</context-param>
	
	<context-param>
		<param-name>video_thumbnail_directory</param-name>
		<param-value>/video/thumbnail</param-value>
	</context-param>
	
	<context-param>
		<param-name>db_username</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>db_password</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>db_url</param-name>
		<param-value>jdbc:mysql://localhost:3306/havideo</param-value>
	</context-param>
	
	<context-param>
		<param-name>db_driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.zenja.havideo.hdfs.HDFSConfiguration</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.zenja.havideo.db.DBConfiguration</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.zenja.havideo.metadata.mongodb.MongoDBConfiguration</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>